html {
  font-size: 14px;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  background-color: rgb(117, 137, 196);
  background-color: #333;
  /*add margins, font-style, font-size relative to html rem*/
}
main{
  width: 750px;
  background-color: #333;
  border-radius: 5px;
  margin: auto;
  position: relative;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  border-bottom: 1px #fff solid;
}
#canvas{
  width: 600px;
  position: relative;
  left: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 5px -7px 5px rgba(221, 223, 230, .5);
  border-radius: 5px;
}
#canvas > div {
  height:12px;
  width: 12px;
  border-radius: 3px;
}
/*maybe add flexbox to this*/
#colors {
  width: 100px;
  position: absolute;
  top: 125px;
  left: 15px;
}
#colors > div {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
}
.originalColor {
  background-color: #fff;
  border: 1px rgba(240,240,240, .3) ridge;
}
.reset {
  background-color: #fff;
  border: 1px rgba(240,240,240, .8) ridge;
}
/*.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: #fff;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.grey {
  background-color: #333;
}
['#333','#F0F8FF','#00FFFF','#7FFFD4','#F0FFFF','#F5F5DC','#0000FF',''
.black {
  background_bolor: #000;
}
.AliceBlue {
  background-color: #F0F8FF;

  }
  .AntiqueWhite {
    background-color: #FAEBD7;

    }
  .Aqua {
    background-color: #00FFFF;
    }
  .Aquamarine {
    background-color: #7FFFD4;

    }
  .Azure {
    background-color:#F0FFFF;

    }
  .Beige {
    background-color: #F5F5DC;

    }
  .Bisque {
    background-color: #FFE4C4;

    }
  .Black {
    background-color:#000000;

    }
  .BlanchedAlmond{
    background-color:#FFEBCD;

    }
  .Blue {
    background-color:#0000FF;

    }
    .BlueViolet {
      background-color:#8A2BE2;

      }
    .Brown {
      background-color:#A52A2A;

      }
    .BurlyWood {
      background-color:#DEB887;

      }
    .CadetBlue {
      background-color:#5F9EA0;

      }
    .Chartreuse{
      background-color:#7FFF00;

      }
    .Chocolate {
      background-color:#D2691E;

      }
    .Coral {
      background-color:#FF7F50;

      }
    .CornflowerBlue {
      background-color:#6495ED;

      }
    .Cornsilk {
      background-color:#FFF8DC;

      }
    .Crimson {
      background-color:#DC143C;

      }
    .Cyan  {
      background-color:#00FFFF;

      }
    .DarkBlue {
      background-color:#00008B;

      }
    .DarkCyan {
      background-color:#008B8B;

      }
    .DarkGoldenRod {
      background-color:#B8860B;

      }
    .DarkGray {
      background-color:#B8860B;

      }
    .DarkGrey {
      background-color:#A9A9A9;

      }
    .DarkGreen{
      background-color:#006400;

      }
    .DarkKhaki {
      background-color:#BDB76B;

      }
    .DarkMagenta {
      background-color:#8B008B;

      }
    .DarkOliveGreen {
      background-color:#556B2F;

      }
    .Darkorange {
      background-color:#FF8C00;

      }
    .DarkOrchid {
      background-color:#9932CC;

      }
    .DarkRed {
      background-color:#8B0000;

      }
    .DarkSalmon {
      background-color:#E9967A;

      }
    .DarkSeaGreen {
      background-color:#8FBC8F;

      }
    .DarkSlateBlue {
      background-color:#483D8B;

      }
    .DarkSlateGray {
      background-color:#2F4F4F;

      }
    /*.DarkSlateGrey {
      background-color:

      }*/
    /*.DarkTurquoise {
      background-color:#00CED1;

      }
    .DarkViolet {
      background-color:#9400D3;

      }
    .DeepPink {
      background-color:#FF1493;

      }
    .DeepSkyBlue {
      background-color:#00BFFF;

      }
    .DimGray {
      background-color:#696969;

      }

    .DodgerBlue {
      background-color:#1E90FF;

      }
    .FireBrick {
      background-color:#1E90FF;

    }

    .FloralWhite {
      background-color:#FFFAF0;

      }
    .ForestGreen {
      background-color:#228B22;

      }
    .Fuchsia {
      background-color:#FF00FF;

      }
    .Gainsboro {
      background-color:#DCDCDC;

      }
    .GhostWhite {
      background-color:#F8F8FF;

      }
      .Gold {
      background-color:#FFD700;

      }
      .GoldenRod {
      background-color:#DAA520;

        }
      .Gray {
      background-color:#808080;

        }

      .Green {
        background-color:#008000;

        }
      .GreenYellow {
        background-color:#ADFF2F;

      }*/

        /*","HoneyDew","HotPink","IndianRed","Indigo","Ivory","Khaki","Lavender","LavenderBlush","LawnGreen","LemonChiffon","LightBlue","LightCoral","LightCyan","LightGoldenRodYellow","LightGray","LightGrey","LightGreen","LightPink","LightSalmon","LightSeaGreen","LightSkyBlue","LightSlateGray","LightSlateGrey","LightSteelBlue","LightYellow","Lime","LimeGreen","Linen","Magenta","Maroon","MediumAquaMarine","MediumBlue","MediumOrchid","MediumPurple","MediumSeaGreen","MediumSlateBlue","MediumSpringGreen","MediumTurquoise","MediumVioletRed","MidnightBlue","MintCream","MistyRose","Moccasin","NavajoWhite","Navy","OldLace","Olive","OliveDrab","Orange","OrangeRed","Orchid","PaleGoldenRod","PaleGreen","PaleTurquoise","PaleVioletRed","PapayaWhip","PeachPuff","Peru","Pink","Plum","PowderBlue","Purple","Red","RosyBrown","RoyalBlue","SaddleBrown","Salmon","SandyBrown","SeaGreen","SeaShell","Sienna","Silver","SkyBlue","SlateBlue","SlateGray","SlateGrey","Snow","SpringGreen","SteelBlue","Tan","Teal","Thistle","Tomato","Turquoise","Violet","Wheat","White","WhiteSmoke","Yellow","YellowGreen"];*/
