body {
  background-color: rgb(117, 137, 196);
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
main{
  /*border: 3px #333 solid;*/

}
#canvas{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
div {
  background-color: #000;
  height: 40px;
  width: 40px;
  border: 1px rgba(#888888, 0.43) solid;
}
#colors {
  margin-top: 25px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: #fff;
}
